@import 'reset';

@import 'utils/variables';
@import 'utils/placeholders';
@import 'utils/mixins';

@import 'layout/header';
@import 'layout/footer';

@import 'components/product-card';
@import 'components/base-modal';
@import 'components/order-modal-content';
@import 'components/dropdown';
@import 'components/filter-modal-content';

body {
	width: 100%;
	min-height: 100vh;
	background-color: $white;
	font-family: 'Open Sans', sans-serif;

	display: flex;
	flex-direction: column;

	@extend %custom-scrollbar;
}

.main-content {
	padding: 30px 20px;
	height: 100%;

	&__title {
		margin-bottom: 15px;

		color: #333;
		font-size: 32px;
		text-align: center;
	}

	&__load-button {
		@extend %base-button;

		margin: 30px auto 0;
		max-width: 175px;
		background-color: $secondary-color;
		transition: opacity 0.3s;
		opacity: 1;

		&:hover {
			opacity: 0.85;
		}
	}
}

.filter-buttons {
	margin-bottom: 30px;
	width: 100%;

	@include flex-center(unset);

	&__button {
		flex: 1;
		padding: 10px;
		background-color: $white;
		border: 1px solid $gray;
		transition: filter 0.3s;
		cursor: pointer;

		color: $gray;
		font-size: 24px;

		&:hover {
			filter: brightness(0.93);
		}
	}
}

.products-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	gap: 15px;
}
